body {
  margin: 0;
  background-color: #1d5e62;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 30px;
}

header nav {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: #1d5e62;
  z-index: 99;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
}

#ig_logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url(../images/ig_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#ig_logo:hover {
  background-image: url(../images/ig_logo_pink.png);
}

#linkedin_logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url(../images/linkedin_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#linkedin_logo:hover {
  background-image: url(../images/linkedin_logo_pink.png);
}

nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  right: 50px;
}

header nav a h1 {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  margin-left: 50px;
  margin-right: 50px;
}

header nav a {
  text-decoration: none;
  color: #f6bb48;
  font-family: "Courier New", Courier, monospace;
}
header nav li {
  list-style: none;
  z-index: 2;
  font-size: 1.1rem;
}

header nav li a:hover {
  color: #fcc2ff;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
}

footer nav {
  border-top: solid #f6bb48 2px;
  border-bottom: solid #f6bb48 2px;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 30px;
}

footer li:hover {
  text-decoration: underline;
}

footer {
  font-family: ;
  color: #f6bb48;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  font-family: ltc-bodoni-175, serif;
}
footer a {
  text-decoration: none;
  color: #f6bb48;
}

footer li {
  list-style: none;
}
footer p {
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
