body {
  margin: 0;
  background-color: #1d5e62;
}

header nav {
  position: absolute;
  width: 100vw;
  top: 0;
  background-color: #1d5e62;
  z-index: 99;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
}

.ig_logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url(../images/ig_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.ig_logo:hover {
  background-image: url(../images/ig_logo_pink.png);
}
.facebook_logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url(../images/facebook_yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.facebook_logo:hover {
  background-image: url(../images/facebook_pink.png);
}

.linkedin_logo {
  width: 40px;
  height: 40px;
  background-image: url(../images/linkedin_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.linkedin_logo:hover {
  background-image: url(../images/linkedin_logo_pink.png);
}

.youtube_logo {
  width: 40px;
  height: 40px;
  background-image: url(../images/youtube_yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.youtube_logo:hover {
  background-image: url(../images/youtube_pink.png);
}

nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  right: 50px;
}

header nav a h1 {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  margin-left: 50px;
  margin-right: 50px;
}

header nav a {
  text-decoration: none;
  color: #f6bb48;
  font-family: "Courier New", Courier, monospace;
}
header nav li {
  list-style: none;
  z-index: 2;
  font-size: 1.1rem;
}

header nav li a:hover {
  color: #fcc2ff;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 120px;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
}

#content {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 250px;
  margin-right: 50px;
}

#blog_content {
  flex-grow: 4;
  margin-right: 40px;
}

#blog_post {
  background-color: white;
  width: 90%;
  margin: auto;
  color: #301409;
  justify-self: center;
  grid-area: blog;
  box-shadow: 2px 2px 10px 0.1px #123b3d;
  padding: 40px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  align-self: start;
}

.hidden {
  opacity: 0;
}

#genre {
  text-decoration: none;
  color: #123b3d;
}

#genre_text {
  text-align: center;
}

#title,
#alternative_headline {
  text-align: center;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
}

#alternative_headline {
  margin-bottom: 50px;
  font-size: 1rem;
}

#author {
  opacity: 0.5;
  margin: 0;
}

#date {
  opacity: 0.3;
  margin: 5px;
  font-size: 0.8rem;
}

#intro {
  margin-top: 10px;
}

#blog_image {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#image_caption {
  opacity: 0.5;
  margin-bottom: 50px;
}

#body1 {
  margin-top: 0;
}

#quote,
#quote_author {
  margin: 0;
  margin: 40px;
  font-weight: bolder;
  text-align: center;
}

#quote_author {
  margin-bottom: 50px;
  margin-top: -10px;
}

#video {
  display: block;
  margin: auto;
  border: none;
  box-shadow: 1px 1px 5px #123b3d;
}
iframe[src=""] {
  display: none;
}

#audio {
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

#social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#social_media a {
  margin: 5px;
}

#low_blog_nav {
  padding: 40px;
  width: 90%;
  box-shadow: 2px 2px 10px 0.1px #123b3d;
  background-color: white;
  margin: auto;
  grid-area: lownav;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  font-family: juniper-std, sans-serif;
  font-weight: lighter;
  font-style: normal;
  align-self: start;
  margin-top: 30px;
}

#aside_content {
  max-width: 300px;
  flex-shrink: 4;
}

#about_box_title {
  text-align: center;
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #123b3d;
}

#about_me_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  grid-area: me;
  box-shadow: 2px 2px 10px 0.1px #123b3d;
  padding: 10px;
  align-self: start;
}
#about_me_title {
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  color: #737bde;
}

#more_me {
  text-align: center;
}

#dude {
  margin-top: -50px;
  cursor: pointer;
}

#dude:hover {
  animation: pulse 1s alternate infinite linear;
  cursor: pointer;
}

#about_me_body {
  font-family: "Courier New", Courier, monospace;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.8);
  }
}

#more_me {
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
}

#other_posts {
  /* background-color: white; */
  grid-area: other;
  /* box-shadow: 2px 2px 10px 0.1px #123b3d; */
  padding: 20px;
}

#other_posts_title {
  text-align: center;
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.other_post_date {
  color: gray;
}

.other_post {
  /* border: #123b3d solid; */
  text-align: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.other_post:hover {
  box-shadow: 2px 2px 10px 0.1px #123b3d;
}

.other_post_image {
  max-width: 80%;
}

.other_post_text {
  max-height: 115px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

footer nav {
  border-top: solid #f6bb48 2px;
  border-bottom: solid #f6bb48 2px;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 30px;
}

footer li:hover {
  text-decoration: underline;
}

footer {
  font-family: ;
  color: #f6bb48;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  font-family: ltc-bodoni-175, serif;
}
footer a {
  text-decoration: none;
  color: #f6bb48;
}

footer li {
  list-style: none;
}
footer p {
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
