body {
  margin: 0;
  background-color: #1d5e62;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 30px;
}

header nav {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: #1d5e62;
  z-index: 99;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
}

nav img {
  max-width: 30px;
}

nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  right: 50px;
}

header nav a h1 {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-left: 50px;
  margin-right: 50px;
}

header nav a {
  text-decoration: none;
  color: #f6bb48;
  font-family: "Courier New", Courier, monospace;
}
header nav li {
  list-style: none;
  z-index: 2;
}

header nav li a:hover {
  color: #fcc2ff;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
}

#ig_logo:hover {
  background-image: ;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
}

img {
  max-width: 100%;
}

#welcome_container {
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 50px;
}

#welcome_box {
  background-color: #737bde;
  width: 450px;
  height: 250px;
  margin-right: -80px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  color: #ffde9b;
  font-size: 2.9rem;
  text-align: center;
  padding-top: 20%;
}

#quote1_home {
  width: 500px;
  height: 150px;
  background-color: #ffde9b;
  margin-left: -250px;
  text-align: end;
  padding-right: 100px;
  padding-top: 100px;
  font-family: "Courier New", Courier, monospace;
}

#img_welcome {
  max-height: 400px;
  z-index: 1;
}

#blog_container {
  display: flex;
  flex-direction: column;
}

#pink_box_home {
  height: 200px;
  width: 100%;
  background-color: #ffeaf9;
}

#img_snake {
  position: absolute;
  width: 300px;
  align-self: center;
  /* omg align-self: mazkes anything align in the middle */
}

#img_sunset {
  margin-top: -130px;
  width: 500px;
  align-self: center;
}

#blog_container a {
  align-self: center;
  text-decoration: none;
}

#blog_button {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fcc2ff;
  font-size: 2rem;
  background-color: #361d00;
  padding: auto;
  width: 100px;
  align-content: center;
  padding: 20px;
  text-align: center;
  margin-top: -30px;
  box-shadow: 0px 0px 15px 0.01px #301409;
}

#blog_button:hover {
  box-shadow: 0px 0px 20px 1px #301409;
}
#about_me_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}
#about_me_box {
  width: 600px;
  height: 550px;
  margin-left: -200px;
  background-color: #f7bb49;
  align-self: flex-end;
  margin-left: -100px;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
}

#img_about_me {
  max-width: 300px;
  position: absolute;
  vertical-align: middle;
  margin-left: 400px;
  z-index: 2;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
  /* border: #737bde 5px solid; */
}

#about_me_text_box {
  background-color: #ffde9b;
  width: 500px;
  height: 400px;
  z-index: 1;
  margin-right: -100px;
  padding: 30px;
  padding-right: 60px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
  color: #301409;
}
#resources_container a {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  text-decoration: none;
}
#resources_box {
  background-color: white;
  height: 60px;
  color: #301409;
  text-align: center;
  font-size: 2rem;
  font-family: ltc-bodoni-175, serif;
  font-weight: bolder;
  padding-top: 30px;
  width: 100%;
  margin-right: -300px;
  align-self: center;
}
#resources_box:hover {
  box-shadow: 0px 0px 15px 0.01px #301409;
}

#img_resources {
  justify-self: center;
  width: 200px;
  align-self: center;
}

#resources_container a {
  height: 60px;
}
footer nav {
  border-top: solid #f6bb48 2px;
  border-bottom: solid #f6bb48 2px;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 30px;
}

footer li:hover {
  text-decoration: underline;
}

footer {
  font-family: ;
  color: #f6bb48;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  font-family: ltc-bodoni-175, serif;
}
footer a {
  text-decoration: none;
  color: #f6bb48;
}

footer li {
  list-style: none;
}
footer p {
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
