body {
  margin: 0;
  background-color: #1d5e62;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 30px;
}

header nav {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: #1d5e62;
  z-index: 99;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
}

#ig_logo {
  width: 40px;
  height: 40px;
  background-image: url(../images/ig_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#ig_logo:hover {
  background-image: url(../images/ig_logo_pink.png);
}

#linkedin_logo {
  width: 40px;
  height: 40px;
  background-image: url(../images/linkedin_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#linkedin_logo:hover {
  background-image: url(../images/linkedin_logo_pink.png);
}

nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  right: 50px;
}

header nav a h1 {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  margin-left: 50px;
  margin-right: 50px;
}

header nav a {
  text-decoration: none;
  color: #f6bb48;
  font-family: "Courier New", Courier, monospace;
}
header nav li {
  list-style: none;
  z-index: 2;
  font-size: 1.1rem;
}

header nav li a:hover {
  color: #fcc2ff;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: auto;
}

.falling_rose {
  background-image: url(../images/rose.png);
  height: 150px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: rose 30s linear;
  animation-iteration-count: 3;
  z-index: 10;

}
.rose1 {left: 10%;
  top: -12vw;}

.rose2 {left: 30%;
    top: -82vw;
   transform:rotate(30deg);}

.rose3 
    {left: 50%;
      top: -112vw;
      transform:rotate(100deg);}

.rose4 {left: 70%;
        top: -132vw;
        transform:rotate(50deg);}
        
.rose5 {left: 90%;
          top: -52vw;
          transform:rotate(130deg);}
      

@keyframes rose {
  0%{transform: translateY(-5vw) rotate(inherit);}
100%{transform: translateY( 350vw)rotate(360deg);}}

img {
  max-width: 100%;
}

#welcome_container {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 150px;
}

#welcome_box {
  background-color: #737bde;
  width: 550px;
  height: 300px;
  margin-right: -80px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  color: #ffde9b;
  font-size: 4rem;
  text-align: center;
  padding-top: 15%;
}

#quote1_home {
  width: 500px;
  height: 150px;
  background-color: #ffde9b;
  margin-left: -280px;
  text-align: end;
  padding-right: 100px;
  padding-top: 100px;
  font-family: "Courier New", Courier, monospace;
}

#img_welcome {
  max-height: 450px;
  z-index: 1;
}

#blog_container {
  display: flex;
  flex-direction: column;
}

#pink_box_home {
  height: 250px;
  width: 100%;
  background-color: #ffeaf9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#quote1 {
  padding-left: 100px;
  width: 200px;
  font-family: "Courier New", Courier, monospace;
}

#quote2 {
  padding-right: 100px;
  width: 200px;
  font-family: "Courier New", Courier, monospace;
}

#img_snake {
  position: absolute;
  width: 350px;
  align-self: center;
  /* omg align-self: mazkes anything align in the middle */
}

#img_sunset {
  margin-top: -150px;
  width: 600px;
  align-self: center;
}

#blog_container a {
  align-self: center;
  text-decoration: none;
}

#blog_button {
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1d5e62;
  font-size: 2rem;
  background-color: #737bde;
  padding: auto;
  width: 100px;
  align-content: center;
  padding: 30px;
  text-align: center;
  margin-top: -35px;
border:outset 10px #f6bb48;
border-radius: 50%;
}

#blog_button:hover {
   border:inset 10px #f6bb48; 
}
#about_me_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}
#about_me_box {
  width: 400px;
  height: 500px;
  background-color: #f7bb49;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
  margin-left: -150px;
}

#img_about_me {
  max-height: 450px;
  vertical-align: middle;
  z-index: 2;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
  margin-right: -80px;
}

#about_me_text_box {
  background-color: #ffde9b;
  max-width: 250px;
  /* max-height: 500px; */
  padding: 30px;
  padding-right: 150px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 10px 0.1px #123b3d;
  color: #301409;
  align-self: center;
  margin-right: -100px;
}

#more_me_button h3 {
  text-align: center;
  padding: 10px;
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #301409;
  border: outset 7px #532c1d;
  margin-top: 40px;
}

#more_me_button {
  text-decoration: none;
}

#more_me_button h3:hover {
  border: inset 7px #ffde9b;
  color: #ffde9b;
  background-color: #532c1d;
}

form {
  margin: auto;
  font-family: juniper-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2.5rem;
  color: #301409;
  text-shadow: #123b3d 1px 0px 3px;
  margin-top: 50px;
}

input {
  background-color: #1d5e62;
  border: #123b3d 2px solid;
  padding: 5px;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #fcc2ff;
}

button {
  background-color: #1d5e62;
  border: none;
  width: 100px;
  height: 150px;
  margin: 20px;
  background-image: url(../images/knife_fork.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

button:hover {
  animation: shake 0.8s linear infinite;
}

@keyframes shake {
  0% {transform: rotate(0deg)
    );
  }
  25% {
    transform: rotate(15deg)
  }
  50% {transform: rotate(0deg)
  }
  75% {transform: rotate(-15deg)
  }
  100% {transform: rotate(0deg)
  }
}

#resources_container a {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  text-decoration: none;
}
#resources_box {
  background-color: white;
  height: 60px;
  color: #301409;
  text-align: center;
  font-size: 2rem;
  font-family: ltc-bodoni-175, serif;
  font-weight: bolder;
  padding-top: 30px;
  width: 100%;
  margin-right: -300px;
  align-self: center;
}
#resources_box:hover {
  box-shadow: 0px 0px 15px 0.01px #301409;
}

#img_resources {
  justify-self: center;
  width: 200px;
  align-self: center;
}

#resources_container a {
  height: 60px;
}
footer nav {
  border-top: solid #f6bb48 2px;
  border-bottom: solid #f6bb48 2px;
  align-self: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 30px;
}

footer li:hover {
  text-decoration: underline;
}

footer {
  font-family: ;
  color: #f6bb48;
  text-align: center;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-top: 200px;
  font-family: ltc-bodoni-175, serif;
}
footer a {
  text-decoration: none;
  color: #f6bb48;
}

footer li {
  list-style: none;
}
footer p {
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}
